<form action="" [formGroup] = "form" class="container">

    <div class="form-group">
        <label for="oldPassword" >Old Password</label>
        <input 
        autocomplete="off"
        id="oldPassword" 
        type="text" 
        formControlName="oldPassword" 
        class="form-control"
        (change) = "oldPasswordOnChange(oldPassword)"
        >
        <div class="alert alert-danger" *ngIf="oldPassword.touched && oldPassword.invalid">
            <div *ngIf="oldPassword.errors?.required">Old Password is required</div>
            <div *ngIf="oldPassword.errors.invalidOldPassword">Invalid old password</div>
            <div *ngIf="oldPassword._hasOwnPendingAsyncValidator">Checking PAssword...</div>
        </div>
    </div>

    <div class="form-group">
        <label for="newPassword" >New Password</label>
        <input 
        id="newPassword" 
        type="text" 
        formControlName="newPassword" 
        class="form-control">
        <div class="alert alert-danger" *ngIf="newPassword.touched && newPassword.invalid">
            <div *ngIf="newPassword.errors.required">New Password is required</div>
        </div>
    </div>
    <div class="form-group">
        <label for="confirmPassword" >Confirm Password</label>
        <input 
        type="text" 
        formControlName="confirmPassword" 
        class="form-control">
        <div class="alert alert-danger" *ngIf="confirmPassword.touched && confirmPassword.invalid">
            <div *ngIf="confirmPassword.errors.required">Confirm PAssword is required</div>

        </div>

        <div class="alert alert-danger"
        *ngIf="confirmPassword.valid && form.invalid && form.errors.passwordShouldMatch">Password not match</div>
    </div>
  
</form>